<div class="jumbotron">
  <h2 class="display-4"><%= @restaurant.name %></h2>
  <p class="lead"><%= @restaurant.category %></p>
  <p class="my-4"><%= @restaurant.address %></p>
<ul class="list-group">
  </div>
  <h4> <%= "All the reviews for #{@restaurant.name}" %></h4>
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= "#{review.content} - #{review.rating} ⭐️" %></li>
  <% end %>
</ul>

<p><%= link_to "Voir tous les restaurants", restaurants_path %></p>
<p><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
